@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  background-color: rgb(255, 255, 255) !important;
  min-height: 100vh;
  font-family: "Graduate", serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

.just-centre {
  display: flex !important;
  justify-content: center !important;
}

.text-home-tablou {
  text-align: center;
  max-width: 50rem;
  border: 50px ridge rgb(83, 85, 62);
  padding: 120px;
  border-radius: 5px;
}

.color-header {
  color: white !important;
}

.text-title {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.div-p-Home {
  background-color: rgb(36, 36, 143);
  color: white;
  border: 30px outset rgb(36, 36, 143);
  width: auto;
  height: 800px;
  text-align: center;
  font-size: 35px;
}

.p-home {
  margin: 50px;
}

.img-home {
  width: 900px;
}

.div-carduri-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 143);
}

.p-carduri {
  font-size: 30px;
  background-color: rgb(36, 36, 143);
  color: white;
  margin: auto;
}

.p-Anunturi {
  font-size: 35px;
  background-color: rgb(36, 36, 143);
  color: white;
  align-items: center;
  text-align: center;
  border: 30px outset rgb(36, 36, 143);
}

.downPage {
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(36, 36, 143);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 143);
  color: white;
  text-align: center;
}

.detaliiFirma {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

.ultimul-msj-home {
  background-color: rgb(36, 36, 143);
  color: white;
  margin: auto;
  text-align: center;
  padding: 80px;
  font-size: 25px;
}

.la-prima-vedere-Abt {
  border: 50px ridge rgb(83, 85, 62);
  height: 1130px;
  justify-content: center;
  text-align: center;
}

.p-about {
  font-size: 27px;
  margin: 15px;
}

.color {
  color: white;
}

.bg-color {
  background-color: rgb(36, 36, 143);
}

.configurare-tablou {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.cadrane-configurare-tablou {
  background-color: rgb(84 84 84 / 80%);
  border: 40px outset rgb(0 0 0);
  width: 600px;
  height: 400px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.input-text {
  width: 300px;
  height: 60px;
}

.rama-collections-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.img-rama-collections-page {
  width: 700px;
  border: 30px outset rgb(0 0 0);
}

.preferinte-collections-page {
  margin: 50px;
  border: 40px outset rgb(0 0 0);
  width: 1050px;
  height: 200px;
  text-align: center;
  padding: 5px;
  background-color: rgb(84 84 84 / 80%);
}

.input-preferinte {
  width: 950px;
  height: 60px;
  padding: 5px;
}

.title-collection {
  margin-top: 70px;
  background-color: rgb(84 84 84 / 80%);
  border: 30px outset rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.sau-collection {
  border: 30px outset rgb(0 0 0);
  background-color: rgb(84 84 84 / 80%);
  padding: 10px;
  margin: 50px;
}

.title-rama-collection {
  border: 30px outset rgb(0 0 0);
  background-color: rgb(84 84 84 / 80%);
  padding: 10px;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  width: 50%;
  display: none;
}

.slides {
  display: flex;
  justify-content: center;
  padding: 30px;
}

img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.3s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: rgb(84 84 84 / 80%);

  color: white;
  border: 30px outset rgb(0 0 0);

  cursor: pointer;
  padding: 10px 15px;
}

.slider button:hover {
  background-color: rgba(84, 84, 84, 0.932);

  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.74),
    0 17px 50px 0 rgba(0, 0, 0, 0.582);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.buton-comanda {
  background-color: rgb(84 84 84 / 80%);

  color: white;
  font-size: 35px;
  padding: 15px;
  border: 30px outset rgb(0 0 0);

  margin: 50px;
}

.formularDiv {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.buton-comanda:hover {
  background-color: rgba(84, 84, 84, 0.945);

  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.74),
    0 17px 50px 0 rgba(0, 0, 0, 0.582);
}

.form-label {
  color: white;
  background-color: red;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.buton-formular-comanda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(84 84 84 / 80%);

  border: 30px outset rgb(0 0 0);

  margin: 5px;
  padding: 5px;
}

.h2Contact {
  font-size: 40px;
  margin-bottom: 40px;
  background-color: red;
}

.card {
  box-shadow: 0px 3px 5px 2px #c5c1c17d;
  flex-direction: column;
  margin: 20px;
}

.card-img-top {
  max-height: 100%;
  max-width: 50rem;
  object-fit: contain;
}

.w-fit-content {
  width: fit-content;
}

.afisajCarduri {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.pCollectionExample {
  font-size: 30px;
  background-color: #ff0000e0;
  padding: 10px;
  box-shadow: 0px 3px 5px 2px #ffe5e57d;
}

.pCollectionExample p {
  margin-bottom: 0;
}

.priceCollections {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.priceCollections p {
  padding: 10px;
  background-color: red;
}

.paragrafeJosPagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background-color: red;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

.paragrafeJosPagina p {
  margin-bottom: 0px;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.654);
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #460bf5;
  /* Blue */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1800px) {
  .div-p-Home{
    font-size: 30px;

  }
}


@media only screen and (max-width: 1500px) {
  .div-p-Home{
    font-size: 25px;
  }
  .p-about{
    font-size: 23px;
  }
}


@media only screen and (max-width: 1270px) {
  .p-about{
    font-size: 19px;
  }
  .detaliiFirma{
    font-size: 17px;
  }
  .downPage{
    height: 600px;
    flex-direction: column;
    align-items: center;
  }
  .slider{
    width: 80%;
  }
  .preferinte-collections-page{
    width: 700px;
    border: 20px outset rgb(0, 0, 0);
    height: 150px;
  }
  .input-preferinte{
    width: 550px;
    height: 40px;
  }
  .slider button{
    font-size: 2rem;
    border: 19px outset rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 900px) {
  .div-p-Home{
    font-size: 20px;

  }
  .div-carduri-home {
  
    flex-direction: column;
    
  }
  .p-about{
    font-size: 16px;
  }
  .img-home{
    width: 500px;
  }
  .cadrane-configurare-tablou{
    width: 400px;
  }
  .title-rama-collection{
    border: 18px outset rgb(0, 0, 0);
  }
  .form-label{
    font-size: 19px;
  }
  .h2Contact{
    font-size: 25px;
  }
  .preferinte-collections-page h3{
    font-size: 23px;
  }
  .buton-comanda{
    font-size: 25px;
  }
  .paragrafeJosPagina{
    font-size: 20px;
  }
  .preferinte-collections-page{
    width: 500px;
  }
  .input-preferinte{
    width: 350px;
    height: 30px;
  }
}



@media only screen and (max-width: 670px) {
  .div-p-Home{
    font-size: 15px;

  }
  .p-about{
    font-size: 13px;
  }
  .img-home{
    width: 350px;
  }
  .downPage{
    height: 700px;
  }
  detaliiFirma{
    font-size: 14px;
  }
  .text-home-tablou{
    padding: 40px;
  }
  .title-collection h1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  
  .p-about{
    font-size: 10px;
  }
  .text-title{
    text-align: center;
  }
}

@media only screen and (max-width: 444px) {
  .div-p-Home{
    font-size: 12px;
  }
  .text-home-tablou{
    padding: 20px;
  }
  .img-home{
    width: 300px;
  }
}