@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  background-color: rgb(255, 255, 255) !important;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.just-centre {
  display: flex !important;
  justify-content: center !important;
}

.titluHome {
  color: rgb(255, 255, 255);
  font-size: 5.5rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.textHomeTablou {
  text-align: center;
  max-width: 50rem;
  border: 50px solid rgb(61, 63, 40);
  padding: 120px;
  border-radius: 5px;
}

.color-header {
  color: white !important;
}
